NGENIUS_API_KEY=
NGENIUS_OUTLET_ID=
NGENIUS_TOKEN_URL=https://api-gateway.sandbox.ngenius-payments.com/identity/auth/access-token
NGENIUS_API_BASE_URL=https://api-gateway.sandbox.ngenius-payments.com
CLIENT_URL=http://localhost:5173
PORT=3001
PAYMENT_CURRENCY=AED
